@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    @if (@ViewData["Welcome"] != null)
    {
        <h1 class="display-4 border-dark"> @ViewData["Welcome"]</h1>
    }

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
